<H1 class="jumbotron">Competition Home</H1>



<div class="lastdraw">
  <div class="card-body">
    <h2 class="card-title">The Last Draw: <%= comp_name.capitalize %></h2>
    <%= link_to "New Draw ", new_draw_path, class: "btn btn-primary" %>
  </div>
</div>


<p></p>



