
<div class = "navdiv">
<ul class="nav navbar-nav navbar-right">
	<li><%= link_to "Home", root_path %></li>
	<li><%= link_to "New Draw ", new_draw_path %></li>
	<li><%= link_to "History", history_path %></li>
</ul>

</div>

